.auth {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 70vh;
    padding-bottom: 20vh;
    background-color: #E3ECF2
}
.home {
    background-color: #E3ECF2;
    min-height: 90vh;
}