.cards {
    background-color: white;
    border-radius: 8px;
    min-height: 300px;
}

.card > div.itemcard__header {
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.card .itemcard__controls {
    flex-basis: 20%;
}

.card__item {
    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 0;
    font-size: 1.2rem;
}

.card__subtitle {
    margin: 0;
    font-size: 0.8rem;
    color: grey;
}

.card__subtitle span {
    font-size: 1rem;
    color: black;
}

.card__btn {
    width: 40px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    overflow-y: auto;
    padding-left: 10px;
    max-height: 150px;
}
.card__list-item {
    border-bottom: 1px dotted #9a9a9a;
    padding-bottom: 5px;
}

.card__list-item:nth-child(even) {
    background-color: #EEF4F7;
}

.card__list-item span {
    font-size: 0.9rem;
}