@import './styles/components.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.gap-1 {
    gap: 4px;
}
.gap-2 {
    gap: 8px;
}
.gap-3 {
    gap: 12px;
}
.pt-1 {
    padding-top: 10px;
}
.pt-2 {
    padding-top: 20px;
}
.border {
    border: 1px solid gray;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.p-relative {
    position: relative;
}
.underline {
    position: absolute;
    bottom: -5px;
    margin: 0;
    left: -45px;
    right: -45px;
}