.edit {}

.edit__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 10px;
}
.edit__title {
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
}

.edit__car-model {
    display: inline-block;
    margin: 0 0 0 10px;
    color: gray;
}
.edit__car-engine {

}

.edit__car-years {
    margin-left: 5px;
}

.edit__mileage {
    font-size: 1rem;
}

.edit .pro-number-input {
   flex-basis: 25%;
   flex-grow: 0;
}

.edit__list {
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 0;
}

.edit__list-item {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px dotted #7d7d7d;
}
.edit__list-item .pro-number-input {
    height: 36px;
}

.edit__name {
    flex-basis: 45%;
    flex-grow: 0;
    margin: 0;
}
.edit__code {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    flex-grow: 0;
    margin: 0;
}
.edit .edit__delete-btn {
    padding: 6px 3px;
    flex-grow: 0;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(31, 31, 31);
    mask-image: url('@avtopro/icons/dist/svg/trash.svg');
    mask-repeat: no-repeat;
    mask-position: center;

}
